################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskProject/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1
